.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* style.css */
button{
  border: unset;
  background: unset;
  margin: 0 !important;
  padding: 0 !important;
}
img{
  max-width: 100%;
  display: block;
 
}
.container{
  text-align: center;
  width: 380px;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background: #fff;
  font-size: 0;
}
.t1{
  background: url(./text1/bg.png) center repeat;
}
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}

.logo {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
}

.tit {
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.subtit {
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  margin-top: 40px;
}
.subtit img {
  height: 18px;
  margin: auto;
  margin-top: 10px;
}

.button-content {
  bottom: 207px;
}
.button-group {
  top: 121px;
  width: 100%;
  display: flex;
  margin-top: -10px;
}

button.button.z-1 {
  margin: 0 -5px;
}

.footer{
  bottom: 0;
}

@media (max-width: 768px) {
  .container{
    max-width: 100%;
  }
}
.product-container {
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #480e10;
  font-weight: 400;
  padding: 0 61px;
}

@media (max-width: 991px) {
  .product-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.product-image,
.decorative-image {
  aspect-ratio: 1.2;
  object-fit: auto;
  object-position: center;
  width: 216px;
  mix-blend-mode: darken;
  max-width: 100%;
}

.edition-label {
  color: #000;
  text-align: center;
  letter-spacing: 1.4px;
  margin-top: 4px;
  white-space: nowrap;
  font: 300 14px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .edition-label {
    white-space: initial;
  }
}

.designer-label {
  color: #000;
  text-align: center;
  letter-spacing: -0.84px;
  margin-top: 6px;
  white-space: nowrap;
  font: 800 28px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .designer-label {
    white-space: initial;
  }
}

.design-label {
  color: #000;
  text-align: center;
  letter-spacing: -0.96px;
  margin-top: 6px;
  font: 600 16px Roboto, sans-serif;
}

.main-image {
  aspect-ratio: 1.33;
  object-fit: auto;
  object-position: center;
  width: 100%;
  mix-blend-mode: darken;
  align-self: stretch;
  margin-top: 4px;
}

@media (max-width: 991px) {
  .main-image {
    max-width: 100%;
  }
}

.product-details,
.location-details,
.partner-details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  z-index: 10;
  display: flex;
  min-height: 365px;
  font-size: 32px;
  white-space: nowrap;
  text-align: center;
  padding: 9px 13px 50px 2px;
}

@media (max-width: 991px) {
  .product-details,
  .location-details,
  .partner-details {
    max-width: 100%;
    white-space: initial;
  }
}

.hidden-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 100;
  margin-top: -88px;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.price-label {
  color: #921e23;
  text-align: center;
  margin-top: 117px;
  white-space: nowrap;
  font: 28px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .price-label {
    margin-top: 40px;
    white-space: initial;
  }
}

.price-details {
  color: #921e23;
  text-align: center;
  margin-top: 19px;
  font: 20px Roboto, sans-serif;
}

.highlight-bar {
  background-color: #c79e58;
  align-self: stretch;
  margin-top: 31px;
  height: 7px;
}

@media (max-width: 991px) {
  .highlight-bar {
    max-width: 100%;
  }
}

.city-label,
.district-label,
.partner-label {
  font-family: Roboto, sans-serif;
}

.address-details {
  border-radius: 20px;
  border: 1px solid #c79e58;
  background-color: rgba(255, 255, 255, 0.7);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 22px;
  white-space: nowrap;
  text-align: center;
  margin: 21px 13px 0;
  padding: 25px 80px 25px 33px;
}

@media (max-width: 991px) {
  .address-details {
    max-width: 100%;
    margin-right: 10px;
    white-space: initial;
    padding: 0 20px;
  }
}